.brand-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.brand-container div{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.brand-container img{
    width: 60px;
    height: 30px;
    margin: 0 2em;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    bottom: 20px;
    }

   .google-image img{
    width: 70px;
    height: 100%;
   }
   @media (max-width:750px) {
    .brand-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px 3px;
        
    }
   }
    